<!--
<ul>
  <li> <%= @author.name %></li>
  <li> <%= @author.hometown %></li>
</ul>
-->
<!-- when we use key value pairs to render our partials 
we have to change the names of our variables 
changed in the _form under posts/_form-->
<ul>
  <li> <%= post_author.name %> </li>
  <li> <%= post_author.hometown %> </li>
</ul>